<%= form_with(model: marimo, local: true) do |form| %>
  <% if marimo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marimo.errors.count, "error") %> prohibited this marimo from being saved:</h2>

      <ul>
      <% marimo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :marimo_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :marimo_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
